body {
    height: 5000px;
    background-color: gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

#image {
    opacity: 0;
    transition: opacity 2s;
    background-color: green;
    height: 500px;
    width: 500px;
}